/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  padding-left: 14px;
}
/** end reset css**/
* {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 150px;
  font-family: "Work Sans";
  font-size: 14px;
}
.login-page .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 140px 0;
}
footer {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 300;
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  cursor: pointer;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a.active {
  font-weight: 600;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li a:hover {
  color: #b1663c;
}
nav i {
  cursor: pointer;
  font-size: 22px;
}
nav i:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
  color: #3d3d3d;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  margin-bottom: 50px;
}
.portfolio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#portfolio h2 {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
}
.edition-mode {
  display: none;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.edition-mode-link {
  text-decoration: none;
  color: #000;
}
.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.filters button {
  background-color: #fffef8;
  border: 1px solid #1d6154;
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  padding: 10px 20px;
  border-radius: 60px;
  cursor: pointer;
}
.filters button:hover {
  background-color: #1d6154;
  color: #fffef8;
}
.filters button.active {
  background-color: #0e2f28;
  color: #fffef8;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 50px;
}
.gallery img {
  width: 100%;
}
.gallery figcaption {
  color: #3d3d3d;
}
.gallery-error {
  grid-column: 1 / -1;
  text-align: center;
}
#login {
  margin: 0 auto;
  width: 50%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input,
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 14px;
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
  color: #3d3d3d;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 14px;
}
.main-submit-button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}
.main-submit-button:hover {
  background-color: #0e2f28;
}
.forgot-password {
  color: #3d3d3d;
  text-align: center;
}
.forgot-password:hover {
  color: #b1663c;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
footer nav li {
  cursor: pointer;
}
footer nav li:hover {
  color: #b1663c;
}
.login-page footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
.login-error {
  color: red;
  margin-bottom: 2em;
  text-align: center;
}
.admin-banner {
  background-color: #000;
  height: 60px;
  width: 100%;
  font-family: "Work Sans";
  align-items: center;
  justify-content: center;
  display: none;
}
.admin-banner div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin-banner p {
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-gallery-content {
  background-color: #fff;
  border-radius: 10px;
  height: 670px;
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
}
.close-modal img {
  height: 100%;
}
.modal-title {
  font-size: 22px;
  margin: 65px 0 40px 0;
}
.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 10px;
  margin-bottom: 70px;
  width: 100%;
}
.modal-gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.modal-line {
  width: 100%;
  height: 1px;
  background-color: #b3b3b3;
  margin-bottom: 40px;
}
.modal-figure {
  position: relative;
  width: 100%;
}
.modal-trash {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #000;
  border-radius: 2px;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-trash img {
  width: 10px;
  height: 10px;
}
.add-photo-button {
  width: 240px;
  background-color: #1d6154;
  border: none;
  outline: none;
  font-family: "Syne";
  font-weight: 300;
  color: #fff;
  padding: 10px 50px;
  border-radius: 60px;
  cursor: pointer;
}
.add-photo-button:hover {
  background-color: #0e2f28;
}
.modal-add-work-content {
  background-color: #fff;
  border-radius: 10px;
  height: 670px;
  width: 630px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 100px;
}
.back-modal {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
}
.back-modal img {
  height: 100%;
}
.modal-add-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f1f6;
  width: 100%;
  height: 170px;
  margin-bottom: 30px;
}
.add-photo-icon {
  width: 70px;
  height: auto;
  margin: 15px 0 10px 0;
}
.modal-add-photo button {
  background-color: #cbd6dc;
  border: none;
  outline: none;
  font-family: "Work Sans";
  color: #306685;
  padding: 10px 35px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}
.modal-preview-img {
  height: 100%;
}
.modal-add-photo span {
  font-size: 10px;
  color: #444444;
  margin-bottom: 20px;
}
.add-work-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.add-work-form label {
  font-family: "Work Sans";
  color: #3d3d3d;
  margin-bottom: 10px;
}
.add-work-form input,
.add-work-form select {
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 14px;
  font-family: "Work Sans";
  font-size: 14px;
  color: #444444;
}
.add-work-form input {
  margin-bottom: 24px;
}
.add-work-form select {
  margin-bottom: 50px;
  appearance: none;
  background-image: url("./icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 12px;
}
.add-work-button {
  width: 240px;
  background-color: #a7a7a7;
  border: none;
  outline: none;
  font-family: "Syne";
  font-weight: 300;
  color: #fff;
  padding: 10px 95px;
  border-radius: 60px;
  cursor: pointer;
  margin: 0 auto;
}
.add-work-button.valid {
  background-color: #1d6154;
}
.form-error-message {
  color: red;
  font-size: 14px;
  font-family: "Work Sans";
  text-align: center;
  margin: 10px auto;
}
